@CHARSET "ISO-8859-1";
body{
background-image:url('flower.jpg');
}
h1{
margin:top;
	color:006600;
	text-align:center;
	font-family: 'Oleo Script', cursive;;
	font-size:50pt;
	text-shadow:5px 5px 5px #6C2DC7;
	
	}
	#tr1{
color:red;
font-style:italic;
font-weight:bold;
text-shadow:5px 5px 5px green;
font-size:30pt;

}
.btn{
height:35px;
width:90px;color:black;
font-size:20px;}
input.txt{
height:20px;
width:160px;}
a{
font-size:20pt;
color:blue;}
.t{
color:black;
font-size:20pt;}

.ar{
font-size:24pt;
color:yellow;
}
.h1{
font-size:19pt;
color:black;
}